.allBox {
  margin-left: 55px;
}
#wrapper {
  width: 1200px;
  height: 800px;
  margin: auto;
  background: #EDEFF0;
}
#header {
  margin-left: 10px;
  margin-right: 10px;
  padding: 3px;
  box-shadow: 0 4px 6px -6px #222;
}
#box1 {
  background-color: white;
  float: left;
  width: 500px;
  height: 300px;
  margin: 20px;
}
#box1-header {
  height: 55px;
  background: #2C9676;
}
#box2 {
  background-color: white;
  float: left;
  width: 500px;
  height: 300px;
  margin: 20px;
}
#box2-header {
  height: 55px;
  background: #F092B0;
}
#box3 {
  background-color: white;
  float: left;
  height: 300px;
  width: 500px;
  margin: 20px;
}
#box3-header {
  height: 55px;
  background: #838CC7;
}
#box4 {
  background-color: white;
  float: left;
  height: 300px;
  width: 500px;
  margin: 20px;
}
#box4-header {
  height: 55px;
  background: #2C9676;
}
